.box-layout {
  //   background: red;
  background: url("/images/bg.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
//BEM
.box-layout__box {
  background: fade-out(#ffffff, 0.15);
  border-radius: 3px;
  text-align: center;
  width: 25rem;
  padding: $l-size $m-size;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
